.nav {
    display: flex;
    gap: 12px;
}

.link {
    text-decoration: none;
    color: black;
}

.isActive {
    color: orangered
}

.head {
    padding: 16px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px 0;
  }